In [2]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('/home/hdt/Documents/trafficclassifier-master/netmate-ni.csv')

In [2]:
data.columns=['srcip ', 'srcport', 'dstip', 'dstport', 'proto', 'total_fpackets', 'total_fvolume','total_bpackets','total_bvolume','min_fpktl','mean_fpktl',
             'max_fpktl','std_fpktl','min_bpktl','mean_bpktl','max_bpktl','std_bpktl','min_fiat','mean_fiat','max_fiat','std_fiat','min_biat','mean_biat','max_biat','std_biat','duration',
             'min_active','mean_active','max_active','std_active','min_idle','mean_idle','max_idle','std_idle','sflow_fpackets','sflow_fbytes','sflow_bpackets','sflow_bbytes','fpsh_cnt','bpsh_cnt','furg_cnt','burg_cnt','total_fhlen','total_bhlen']

In [5]:
data.head()

,srcip,srcport,dstip,dstport,proto,total_fpackets,total_fvolume,total_bpackets,total_bvolume,min_fpktl,...,sflow_fpackets,sflow_fbytes,sflow_bpackets,sflow_bbytes,fpsh_cnt,bpsh_cnt,furg_cnt,burg_cnt,total_fhlen,total_bhlen
0,150.193.125.234,62465,172.194.224.18,443,6,101,6840,180,241986,40,...,101,6840,180,241986,17,15,0,0,5252,9368
1,182.243.200.203,12155,150.193.15.202,80,6,6,450,6,961,52,...,6,450,6,961,2,1,0,0,320,320
2,113.80.154.130,22066,203.141.118.229,80,6,5,328,6,687,52,...,5,328,6,687,1,1,0,0,268,320
3,202.75.123.30,41648,150.193.13.137,80,6,5,432,5,435,52,...,5,432,5,435,1,1,0,0,268,268
4,202.75.123.30,41651,150.193.13.137,80,6,6,483,6,2695,52,...,6,483,6,2695,1,1,0,0,320,320

In [28]:
data = data.drop(columns = ['furg_cnt','burg_cnt','max_idle','std_idle','min_idle','mean_idle'])
len(data)

1247639

In [29]:
data1 = data[data['proto']==6]
data1 = data1[data1['total_bpackets']>2]
data1 = data1[data1['total_fpackets']>2]

In [30]:
data2 = data[data['proto']==7]
data2 = data2[data2['total_bpackets']>1]
data2 = data2[data2['total_fpackets']>1]

In [31]:
dataN = data1.append(data2)

In [42]:
dataN=dataN[dataN['dstport']<1024]
len(dataN)

21080

In [33]:
dataN.reset_index(drop = True,inplace=True)
dataN[53:55]

,srcip,srcport,dstip,dstport,proto,total_fpackets,total_fvolume,total_bpackets,total_bvolume,min_fpktl,...,max_active,std_active,sflow_fpackets,sflow_fbytes,sflow_bpackets,sflow_bbytes,fpsh_cnt,bpsh_cnt,total_fhlen,total_bhlen
53,153.230.10.148,60395,150.193.15.202,63206,6,5,272,4,360,52,...,121650,0,5,272,4,360,0,1,272,216
54,112.212.218.84,62622,202.1.57.71,22,6,3,203,3,152,60,...,341159,0,3,203,3,152,2,0,164,152

In [34]:
dataN.to_csv('data.csv', sep="\t", header=True)

In [54]:
port = dataN['dstport']
x = set(port)
x

{21, 22, 23, 25, 53, 80, 110, 143, 443, 445, 465, 587, 806, 993, 995}

In [62]:
port995 = dataN[dataN['dstport']==995]
port995.reset_index(drop = True,inplace=True)
port995.to_csv('port995.csv', sep="\t", header=True)
len(port995)

54

In [64]:
len(port443)

11333

In [22]:
port21 = data[dataN['dstport']==21]
x = set(port)
x

{21,
 22,
 23,
 25,
 53,
 80,
 110,
 123,
 143,
 161,
 443,
 445,
 465,
 587,
 806,
 993,
 995,
 1024,
 1863,
 3001,
 3010,
 3389,
 4001,
 4070,
 4672,
 5000,
 5222,
 5228,
 6001,
 6003,
 6004,
 6464,
 6500,
 6881,
 6889,
 7000,
 7273,
 7275,
 7821,
 7999,
 8080,
 8888,
 8989,
 8999,
 9000,
 9001,
 9090,
 9773,
 10006,
 17287,
 18188,
 19302,
 33487,
 33818,
 35000,
 36219,
 36624,
 36669,
 36724,
 36781,
 37027,
 37633,
 38157,
 39468,
 39997,
 41310,
 41709,
 42121,
 43611,
 45155,
 45454,
 51282,
 51413,
 55489,
 55804,
 56693,
 57309,
 57424,
 59289,
 59670,
 59709,
 59710,
 61118,
 61292,
 62311,
 62465,
 62979,
 63059,
 63126,
 63206,
 63623,
 64283,
 64567,
 64825,
 64923,
 65000,
 65487}

In [37]:
data3 =dataN[[ 'total_fpackets', 'total_fvolume','total_bpackets','total_bvolume']]
data3.to_csv('data3.tsv', sep="\t", header=True)
data5=data3[0:100]
data5.to_csv('data5.tsv', sep="\t", header=True)

In [15]:
A = dataN.columns
len(A)

34

In [16]:
for i in A:
    dataN[i]=(dataN[i]-np.mean(dataN[i]))/np.std(dataN[i])

In [17]:
dataN.head()

,proto,total_fpackets,total_fvolume,total_bpackets,total_bvolume,min_fpktl,mean_fpktl,max_fpktl,std_fpktl,min_bpktl,...,max_active,std_active,sflow_fpackets,sflow_fbytes,sflow_bpackets,sflow_bbytes,fpsh_cnt,bpsh_cnt,total_fhlen,total_bhlen
index,,,,,,,,,,,,,,,,,,,,,
0,-0.524494,-0.021781,-0.015405,-0.023651,-0.025202,-1.169402,-0.458318,-0.488358,-0.635868,-0.128261,...,-0.008494,-0.102374,-0.012737,-0.012788,-0.015797,-0.017580,0.109074,-0.014769,-0.020690,-0.021817
1,-0.524494,-0.039759,-0.017478,-0.034076,-0.034846,-0.163195,-0.405590,-0.771128,-0.688224,-0.128261,...,-0.081744,-0.102374,-0.034535,-0.015312,-0.027040,-0.028036,-0.049020,-0.016646,-0.044467,-0.033894
2,-0.524494,-0.039948,-0.017517,-0.034076,-0.034857,-0.163195,-0.471500,-0.820804,-0.747125,-0.128261,...,-0.086925,-0.102374,-0.034764,-0.015361,-0.027040,-0.028048,-0.059559,-0.016646,-0.044717,-0.033894
3,-0.524494,-0.039948,-0.017484,-0.034136,-0.034867,-0.163195,-0.333089,-0.622101,-0.446077,-0.128261,...,-0.058758,-0.102374,-0.034764,-0.015320,-0.027104,-0.028059,-0.059559,-0.016646,-0.044717,-0.033963
4,-0.524494,-0.039759,-0.017467,-0.034076,-0.034776,-0.163195,-0.372635,-0.624011,-0.491888,-0.128261,...,-0.086774,-0.102374,-0.034535,-0.015299,-0.027040,-0.027961,-0.059559,-0.016646,-0.044467,-0.033894

In [18]:
dataN.to_csv("dataFlows.tsv", sep="\t")

In [19]:
data2 = dataN[['proto', 'total_fpackets', 'total_fvolume','total_bpackets','total_bvolume']]
data2['proto'].to_csv('demo1.tsv', sep="\t", header=True)
data2['total_fpackets'].to_csv('demo2.tsv', sep="\t", header=True)
data2['total_fvolume'].to_csv('demo3.tsv', sep="\t", header=True)
data2['total_bpackets'].to_csv('demo4.tsv', sep="\t", header=True)
data2['total_bvolume'].to_csv('demo5.tsv', sep="\t", header=True)

In [20]:
data2.to_csv('demodata.tsv', sep="\t", header=True)

In [21]:
data4 = data2[0:100]

In [22]:
data4.to_csv('data4.tsv', sep="\t", header=True)

In [3]:
port443 = pd.read_csv('/home/hdt/Documents/trafficclassifier-master/port443.csv')
len(port443)

11333

In [4]:
port22 =  pd.read_csv('/home/hdt/Documents/trafficclassifier-master/port22.csv')
len(port22)

345

In [5]:
port25 =  pd.read_csv('/home/hdt/Documents/trafficclassifier-master/port25.csv')
len(port25)

196

In [6]:
port53 = pd.read_csv('/home/hdt/Documents/trafficclassifier-master/port53.csv')
len(port53)

301

In [7]:
port80 = pd.read_csv('/home/hdt/Documents/trafficclassifier-master/port443.csv')
len(port80)

11333

In [8]:
port993 = pd.read_csv('/home/hdt/Documents/trafficclassifier-master/port993.csv')
len(port993)

482

In [ ]:
data = port25.append()

In [9]:
rs = pd.read_csv('/home/hdt/Documents/trafficclassifier-master/resultTrace1.csv')

In [11]:
rs.head()

,index,srcip,srcport,dstip,dstport,proto,total_fpackets,total_fvolume,total_bpackets,total_bvolume,...,sflow_bpackets,sflow_bbytes,fpsh_cnt,bpsh_cnt,furg_cnt,burg_cnt,total_fhlen,total_bhlen,label,cluster
0,0,150.193.9.119,36194,199.253.112.198,53,6,6,363,4,795,...,4,795,1,1,0,0,320,216,dns,47
1,1,133.180.64.216,34049,202.252.24.239,53,6,6,350,4,1319,...,4,1319,1,1,0,0,320,220,dns,47
2,2,203.141.113.140,48631,194.178.73.34,53,6,6,379,4,1162,...,4,1162,1,1,0,0,320,216,dns,47
3,3,133.154.140.225,42868,202.252.24.239,53,6,6,367,4,1139,...,4,1139,1,1,0,0,320,220,dns,47
4,4,150.193.9.119,44855,204.123.216.116,53,6,6,365,4,990,...,4,990,1,1,0,0,320,216,dns,47

In [15]:
cluster = rs['label']

In [16]:
cluster = set(cluster)

In [17]:
cluster

{'dns',
 'ftp',
 'http',
 'https',
 'imap',
 'imaps',
 'pop3',
 'pop3s',
 'smtp',
 'ssh'}

In [43]:
def H_compute(result_path):
    rs = pd.read_csv(result_path)
    H_list =[]
    app_list=[]
    app = (set(rs['label']))
    app = [a for a in app]
    print(app)
    for i in set(rs['cluster']):
        data = rs[rs['cluster']==i]
        app_count=0
        for y in app:
            if app_count<= len(data[data['label']==y]):
                app_count = len(data[data['label']==y])
                app_max = y
        H = app_count/len(data)
        H_list.append(H)
        app_list.append(app_max)
    return(H_list, app_list)

In [44]:
a,b = H_compute('/home/hdt/Documents/trafficclassifier-master/resultTrace1.csv')

['imaps', 'https', 'pop3', 'http', 'pop3s', 'imap', 'dns', 'ftp', 'smtp', 'ssh']

In [45]:
print(len(a))

101

In [48]:
print(np.mean(a))

0.8603863889369314