In [2]:
# Render our plots inline
%matplotlib inline
 
import pandas as pd
import matplotlib.pyplot as plt
import random
dataframe = pd.read_csv('./data/features/Flow_Duration.tsv', encoding='utf-8', header=0, sep='\t', index_col=0)

In [3]:
dataframe.head(5)

         Flow_Duration
index
628805        59950797
2432990         481543
2728177      119332716
1289932       11485964
2393521         240398

In [4]:
dataframe['Flow_Duration'] = (dataframe['Flow_Duration'] - dataframe['Flow_Duration'].mean()) / dataframe['Flow_Duration'].std()

In [5]:
dataframe.head(5)

         Flow_Duration
index
628805        0.814819
2432990      -0.655780
2728177       2.283259
1289932      -0.383655
2393521      -0.661744

In [6]:
dataframe.reset_index(drop=True, inplace = True)

In [7]:
dataframe.head(5)

   Flow_Duration
0       0.814819
1      -0.655780
2       2.283259
3      -0.383655
4      -0.661744

In [9]:
dataframe.index.name = "index"
dataframe.to_csv("demo_real_scalar.tsv", sep="\t", header=True)