In [1]:
# Render our plots inline
%matplotlib inline
 
import pandas as pd
import matplotlib.pyplot as plt
import random

In [2]:
dataframe = pd.read_csv('./data/trace1/rawData.out', encoding='utf-8', header=None, sep=',')
dataframe.head(5)

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
0,150.193.38.178,32133,210.149.31.11,25,6,10,706,11,620,40,...,10,706,11,620,6,7,0,0,404,444
1,150.193.125.234,62465,172.194.224.18,443,6,101,6840,180,241986,40,...,101,6840,180,241986,17,15,0,0,5252,9368
2,182.243.200.203,12155,150.193.15.202,80,6,6,450,6,961,52,...,6,450,6,961,2,1,0,0,320,320
3,113.80.154.130,22066,203.141.118.229,80,6,5,328,6,687,52,...,5,328,6,687,1,1,0,0,268,320
4,202.75.123.30,41648,150.193.13.137,80,6,5,432,5,435,52,...,5,432,5,435,1,1,0,0,268,268

In [4]:
# Xem chiều dài của df, tương đương shape[0]
print('Len:', len(dataframe))
# Xem thông tin dataframe vừa đọc được
dataframe.info()
# Xem kích thước của dataframe
print('Shape:', dataframe.shape)

Len: 1247640
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1247640 entries, 0 to 1247639
Data columns (total 44 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   0       1247640 non-null  object
 1   1       1247640 non-null  int64
 2   2       1247640 non-null  object
 3   3       1247640 non-null  int64
 4   4       1247640 non-null  int64
 5   5       1247640 non-null  int64
 6   6       1247640 non-null  int64
 7   7       1247640 non-null  int64
 8   8       1247640 non-null  int64
 9   9       1247640 non-null  int64
 10  10      1247640 non-null  int64
 11  11      1247640 non-null  int64
 12  12      1247640 non-null  int64
 13  13      1247640 non-null  int64
 14  14      1247640 non-null  int64
 15  15      1247640 non-null  int64
 16  16      1247640 non-null  int64
 17  17      1247640 non-null  int64
 18  18      1247640 non-null  int64
 19  19      1247640 non-null  int64
 20  20      1247640 non-null  int64
 21  21      1247640 non-null  int64
 22  22      1247640 non-null  int64
 23  23      1247640 non-null  int64
 24  24      1247640 non-null  int64
 25  25      1247640 non-null  int64
 26  26      1247640 non-null  int64
 27  27      1247640 non-null  int64
 28  28      1247640 non-null  int64
 29  29      1247640 non-null  int64
 30  30      1247640 non-null  int64
 31  31      1247640 non-null  int64
 32  32      1247640 non-null  int64
 33  33      1247640 non-null  int64
 34  34      1247640 non-null  int64
 35  35      1247640 non-null  int64
 36  36      1247640 non-null  int64
 37  37      1247640 non-null  int64
 38  38      1247640 non-null  int64
 39  39      1247640 non-null  int64
 40  40      1247640 non-null  int64
 41  41      1247640 non-null  int64
 42  42      1247640 non-null  int64
 43  43      1247640 non-null  int64
dtypes: int64(42), object(2)
memory usage: 418.8+ MB
Shape: (1247640, 44)

In [3]:
app = dataframe[dataframe[3] < 1023]
app[0:5]

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
0,150.193.38.178,32133,210.149.31.11,25,6,10,706,11,620,40,...,10,706,11,620,6,7,0,0,404,444
1,150.193.125.234,62465,172.194.224.18,443,6,101,6840,180,241986,40,...,101,6840,180,241986,17,15,0,0,5252,9368
2,182.243.200.203,12155,150.193.15.202,80,6,6,450,6,961,52,...,6,450,6,961,2,1,0,0,320,320
3,113.80.154.130,22066,203.141.118.229,80,6,5,328,6,687,52,...,5,328,6,687,1,1,0,0,268,320
4,202.75.123.30,41648,150.193.13.137,80,6,5,432,5,435,52,...,5,432,5,435,1,1,0,0,268,268

In [6]:
app.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 709029 entries, 0 to 1247638
Data columns (total 44 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       709029 non-null  object
 1   1       709029 non-null  int64
 2   2       709029 non-null  object
 3   3       709029 non-null  int64
 4   4       709029 non-null  int64
 5   5       709029 non-null  int64
 6   6       709029 non-null  int64
 7   7       709029 non-null  int64
 8   8       709029 non-null  int64
 9   9       709029 non-null  int64
 10  10      709029 non-null  int64
 11  11      709029 non-null  int64
 12  12      709029 non-null  int64
 13  13      709029 non-null  int64
 14  14      709029 non-null  int64
 15  15      709029 non-null  int64
 16  16      709029 non-null  int64
 17  17      709029 non-null  int64
 18  18      709029 non-null  int64
 19  19      709029 non-null  int64
 20  20      709029 non-null  int64
 21  21      709029 non-null  int64
 22  22      709029 non-null  int64
 23  23      709029 non-null  int64
 24  24      709029 non-null  int64
 25  25      709029 non-null  int64
 26  26      709029 non-null  int64
 27  27      709029 non-null  int64
 28  28      709029 non-null  int64
 29  29      709029 non-null  int64
 30  30      709029 non-null  int64
 31  31      709029 non-null  int64
 32  32      709029 non-null  int64
 33  33      709029 non-null  int64
 34  34      709029 non-null  int64
 35  35      709029 non-null  int64
 36  36      709029 non-null  int64
 37  37      709029 non-null  int64
 38  38      709029 non-null  int64
 39  39      709029 non-null  int64
 40  40      709029 non-null  int64
 41  41      709029 non-null  int64
 42  42      709029 non-null  int64
 43  43      709029 non-null  int64
dtypes: int64(42), object(2)
memory usage: 243.4+ MB

In [7]:
app.tail(5)

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
1247630,157.82.77.228,64089,203.8.174.154,53,17,1,73,0,0,73,...,1,73,0,0,0,0,0,0,28,0
1247631,163.34.97.29,64863,172.194.88.189,443,17,8,3355,0,0,51,...,2,1118,0,0,0,0,0,0,168,0
1247634,103.213.171.39,37227,202.252.24.239,53,17,1,72,0,0,72,...,1,72,0,0,0,0,0,0,28,0
1247636,150.193.9.118,18136,205.252.52.158,53,17,1,78,0,0,78,...,1,78,0,0,0,0,0,0,28,0
1247638,131.243.43.73,63855,172.194.88.232,443,17,8,3844,0,0,56,...,8,3844,0,0,0,0,0,0,168,0

In [4]:
app.reset_index(drop=True)

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
0,150.193.38.178,32133,210.149.31.11,25,6,10,706,11,620,40,...,10,706,11,620,6,7,0,0,404,444
1,150.193.125.234,62465,172.194.224.18,443,6,101,6840,180,241986,40,...,101,6840,180,241986,17,15,0,0,5252,9368
2,182.243.200.203,12155,150.193.15.202,80,6,6,450,6,961,52,...,6,450,6,961,2,1,0,0,320,320
3,113.80.154.130,22066,203.141.118.229,80,6,5,328,6,687,52,...,5,328,6,687,1,1,0,0,268,320
4,202.75.123.30,41648,150.193.13.137,80,6,5,432,5,435,52,...,5,432,5,435,1,1,0,0,268,268
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
709024,157.82.77.228,64089,203.8.174.154,53,17,1,73,0,0,73,...,1,73,0,0,0,0,0,0,28,0
709025,163.34.97.29,64863,172.194.88.189,443,17,8,3355,0,0,51,...,2,1118,0,0,0,0,0,0,168,0
709026,103.213.171.39,37227,202.252.24.239,53,17,1,72,0,0,72,...,1,72,0,0,0,0,0,0,28,0
709027,150.193.9.118,18136,205.252.52.158,53,17,1,78,0,0,78,...,1,78,0,0,0,0,0,0,28,0
709028,131.243.43.73,63855,172.194.88.232,443,17,8,3844,0,0,56,...,8,3844,0,0,0,0,0,0,168,0

In [5]:
app.columns = ['srcip', 'srcport', 'dstip', 'dstport', 'proto', 'total_fpackets', 'total_fvolume', 'total_bpackets',
              'total_bvolume', 'min_fpktl', 'mean_fpktl', 'max_fpktl', 'std_fpktl', 'min_bpktl', 'mean_bpktl', 'max_bpktl',
              'std_bpktl', 'min_fiat', 'mean_fiat', 'max_fiat', 'std_fiat', 'min_biat', 'mean_biat', 'max_biat', 'std_biat',
              'duration', 'min_active', 'mean_active', 'max_active', 'std_active', 'min_idle', 'mean_idle', 'max_idle',
              'std_idle', 'sflow_fpackets', 'sflow_fbytes', 'sflow_bpackets', 'sflow_bbytes', 'fpsh_cnt', 'bpsh_cnt', 'furg_cnt',
              'burg_cnt', 'total_fhlen', 'total_bhlen']

In [7]:
app.head(5)

,srcip,srcport,dstip,dstport,proto,total_fpackets,total_fvolume,total_bpackets,total_bvolume,min_fpktl,...,sflow_fpackets,sflow_fbytes,sflow_bpackets,sflow_bbytes,fpsh_cnt,bpsh_cnt,furg_cnt,burg_cnt,total_fhlen,total_bhlen
12688,163.34.221.125,52447,96.216.202.79,53,17,1,113,0,0,113,...,1,113,0,0,0,0,0,0,28,0
12689,210.163.45.222,52174,203.141.127.70,123,17,1,76,1,76,76,...,1,76,1,76,0,0,0,0,28,20
12691,163.34.221.126,11327,96.216.202.50,53,17,1,78,0,0,78,...,1,78,0,0,0,0,0,0,28,0
12692,163.34.221.95,19473,104.118.241.17,53,17,1,83,0,0,83,...,1,83,0,0,0,0,0,0,28,0
12693,124.109.90.172,57452,203.141.127.70,123,17,1,76,1,76,76,...,1,76,1,76,0,0,0,0,28,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1247630,157.82.77.228,64089,203.8.174.154,53,17,1,73,0,0,73,...,1,73,0,0,0,0,0,0,28,0
1247631,163.34.97.29,64863,172.194.88.189,443,17,8,3355,0,0,51,...,2,1118,0,0,0,0,0,0,168,0
1247634,103.213.171.39,37227,202.252.24.239,53,17,1,72,0,0,72,...,1,72,0,0,0,0,0,0,28,0
1247636,150.193.9.118,18136,205.252.52.158,53,17,1,78,0,0,78,...,1,78,0,0,0,0,0,0,28,0
1247638,131.243.43.73,63855,172.194.88.232,443,17,8,3844,0,0,56,...,8,3844,0,0,0,0,0,0,168,0

In [8]:
app.query('(proto == 6 and total_fpackets >= 3  and total_bpackets >= 3) or (proto == 17 and total_fpackets >= 2)', inplace = True)

/home/chuongdv/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
app.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78140 entries, 0 to 1247638
Data columns (total 44 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   srcip           78140 non-null  object
 1   srcport         78140 non-null  int64
 2   dstip           78140 non-null  object
 3   dstport         78140 non-null  int64
 4   proto           78140 non-null  int64
 5   total_fpackets  78140 non-null  int64
 6   total_fvolume   78140 non-null  int64
 7   total_bpackets  78140 non-null  int64
 8   total_bvolume   78140 non-null  int64
 9   min_fpktl       78140 non-null  int64
 10  mean_fpktl      78140 non-null  int64
 11  max_fpktl       78140 non-null  int64
 12  std_fpktl       78140 non-null  int64
 13  min_bpktl       78140 non-null  int64
 14  mean_bpktl      78140 non-null  int64
 15  max_bpktl       78140 non-null  int64
 16  std_bpktl       78140 non-null  int64
 17  min_fiat        78140 non-null  int64
 18  mean_fiat       78140 non-null  int64
 19  max_fiat        78140 non-null  int64
 20  std_fiat        78140 non-null  int64
 21  min_biat        78140 non-null  int64
 22  mean_biat       78140 non-null  int64
 23  max_biat        78140 non-null  int64
 24  std_biat        78140 non-null  int64
 25  duration        78140 non-null  int64
 26  min_active      78140 non-null  int64
 27  mean_active     78140 non-null  int64
 28  max_active      78140 non-null  int64
 29  std_active      78140 non-null  int64
 30  min_idle        78140 non-null  int64
 31  mean_idle       78140 non-null  int64
 32  max_idle        78140 non-null  int64
 33  std_idle        78140 non-null  int64
 34  sflow_fpackets  78140 non-null  int64
 35  sflow_fbytes    78140 non-null  int64
 36  sflow_bpackets  78140 non-null  int64
 37  sflow_bbytes    78140 non-null  int64
 38  fpsh_cnt        78140 non-null  int64
 39  bpsh_cnt        78140 non-null  int64
 40  furg_cnt        78140 non-null  int64
 41  burg_cnt        78140 non-null  int64
 42  total_fhlen     78140 non-null  int64
 43  total_bhlen     78140 non-null  int64
dtypes: int64(42), object(2)
memory usage: 26.8+ MB

In [13]:
app.query('total_bpackets == 3')

,srcip,srcport,dstip,dstport,proto,total_fpackets,total_fvolume,total_bpackets,total_bvolume,min_fpktl,...,sflow_fpackets,sflow_fbytes,sflow_bpackets,sflow_bbytes,fpsh_cnt,bpsh_cnt,furg_cnt,burg_cnt,total_fhlen,total_bhlen
55,112.212.218.84,62622,202.1.57.71,22,6,3,203,3,152,60,...,3,203,3,152,2,0,0,0,164,152
56,112.212.218.84,41021,202.1.6.84,22,6,5,307,3,152,52,...,5,307,3,152,2,0,0,0,268,152
207,112.212.218.84,59565,203.141.119.105,22,6,5,307,3,152,52,...,5,307,3,152,2,0,0,0,268,152
213,35.225.145.207,58278,203.141.122.107,806,6,5,268,3,185,52,...,5,268,3,185,0,1,0,0,268,164
414,122.29.50.107,33610,202.1.6.84,22,6,5,307,3,152,52,...,5,307,3,152,2,0,0,0,268,152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1050554,150.193.193.171,56143,172.194.230.62,80,6,4,401,3,247,52,...,4,401,3,247,1,1,0,0,216,164
1104763,205.190.178.155,50390,203.141.113.29,80,6,4,482,3,124,40,...,4,482,3,124,1,0,0,0,180,124
1141445,150.193.127.107,57376,216.121.204.58,80,6,4,721,3,550,52,...,4,721,3,550,1,1,0,0,216,164
1231895,150.193.47.92,52463,172.194.229.75,80,6,4,448,3,247,52,...,4,448,3,247,1,1,0,0,216,164
1241987,150.193.233.71,56670,202.24.85.251,443,6,4,744,3,269,40,...,4,744,3,269,2,0,0,0,172,132

In [10]:
app.groupby(['dstport']).count()

,srcip,srcport,dstip,proto,total_fpackets,total_fvolume,total_bpackets,total_bvolume,min_fpktl,mean_fpktl,...,sflow_fpackets,sflow_fbytes,sflow_bpackets,sflow_bbytes,fpsh_cnt,bpsh_cnt,furg_cnt,burg_cnt,total_fhlen,total_bhlen
dstport,,,,,,,,,,,,,,,,,,,,,
0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,20,20,20,20,20,20,20,20,20,20,...,20,20,20,20,20,20,20,20,20,20
2,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
3,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
4,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,482,482,482,482,482,482,482,482,482,482,...,482,482,482,482,482,482,482,482,482,482
995,54,54,54,54,54,54,54,54,54,54,...,54,54,54,54,54,54,54,54,54,54
1001,37,37,37,37,37,37,37,37,37,37,...,37,37,37,37,37,37,37,37,37,37
1004,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1012,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [15]:
app.query('dstport == 445')

,srcip,srcport,dstip,dstport,proto,total_fpackets,total_fvolume,total_bpackets,total_bvolume,min_fpktl,...,sflow_fpackets,sflow_fbytes,sflow_bpackets,sflow_bbytes,fpsh_cnt,bpsh_cnt,furg_cnt,burg_cnt,total_fhlen,total_bhlen
369431,198.18.129.142,38886,203.141.113.48,445,6,6,426,4,255,52,...,6,426,4,255,1,1,0,0,320,216

In [16]:
app.query('dstport != 23 and dstport != 445 and dstport != 587 and dstport != 465 and dstport != 806', inplace = True)

/home/chuongdv/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
app.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21025 entries, 0 to 1247218
Data columns (total 44 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   srcip           21025 non-null  object
 1   srcport         21025 non-null  int64
 2   dstip           21025 non-null  object
 3   dstport         21025 non-null  int64
 4   proto           21025 non-null  int64
 5   total_fpackets  21025 non-null  int64
 6   total_fvolume   21025 non-null  int64
 7   total_bpackets  21025 non-null  int64
 8   total_bvolume   21025 non-null  int64
 9   min_fpktl       21025 non-null  int64
 10  mean_fpktl      21025 non-null  int64
 11  max_fpktl       21025 non-null  int64
 12  std_fpktl       21025 non-null  int64
 13  min_bpktl       21025 non-null  int64
 14  mean_bpktl      21025 non-null  int64
 15  max_bpktl       21025 non-null  int64
 16  std_bpktl       21025 non-null  int64
 17  min_fiat        21025 non-null  int64
 18  mean_fiat       21025 non-null  int64
 19  max_fiat        21025 non-null  int64
 20  std_fiat        21025 non-null  int64
 21  min_biat        21025 non-null  int64
 22  mean_biat       21025 non-null  int64
 23  max_biat        21025 non-null  int64
 24  std_biat        21025 non-null  int64
 25  duration        21025 non-null  int64
 26  min_active      21025 non-null  int64
 27  mean_active     21025 non-null  int64
 28  max_active      21025 non-null  int64
 29  std_active      21025 non-null  int64
 30  min_idle        21025 non-null  int64
 31  mean_idle       21025 non-null  int64
 32  max_idle        21025 non-null  int64
 33  std_idle        21025 non-null  int64
 34  sflow_fpackets  21025 non-null  int64
 35  sflow_fbytes    21025 non-null  int64
 36  sflow_bpackets  21025 non-null  int64
 37  sflow_bbytes    21025 non-null  int64
 38  fpsh_cnt        21025 non-null  int64
 39  bpsh_cnt        21025 non-null  int64
 40  furg_cnt        21025 non-null  int64
 41  burg_cnt        21025 non-null  int64
 42  total_fhlen     21025 non-null  int64
 43  total_bhlen     21025 non-null  int64
dtypes: int64(42), object(2)
memory usage: 7.2+ MB

In [18]:
app.groupby(['dstport']).count()

,srcip,srcport,dstip,proto,total_fpackets,total_fvolume,total_bpackets,total_bvolume,min_fpktl,mean_fpktl,...,sflow_fpackets,sflow_fbytes,sflow_bpackets,sflow_bbytes,fpsh_cnt,bpsh_cnt,furg_cnt,burg_cnt,total_fhlen,total_bhlen
dstport,,,,,,,,,,,,,,,,,,,,,
21,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
22,345,345,345,345,345,345,345,345,345,345,...,345,345,345,345,345,345,345,345,345,345
25,197,197,197,197,197,197,197,197,197,197,...,197,197,197,197,197,197,197,197,197,197
53,301,301,301,301,301,301,301,301,301,301,...,301,301,301,301,301,301,301,301,301,301
80,8253,8253,8253,8253,8253,8253,8253,8253,8253,8253,...,8253,8253,8253,8253,8253,8253,8253,8253,8253,8253
110,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12
143,40,40,40,40,40,40,40,40,40,40,...,40,40,40,40,40,40,40,40,40,40
443,11333,11333,11333,11333,11333,11333,11333,11333,11333,11333,...,11333,11333,11333,11333,11333,11333,11333,11333,11333,11333
993,482,482,482,482,482,482,482,482,482,482,...,482,482,482,482,482,482,482,482,482,482
995,54,54,54,54,54,54,54,54,54,54,...,54,54,54,54,54,54,54,54,54,54

In [19]:
event_dictionary = {21 : 'ftp', 22 : 'ssh', 25 : 'smtp', 53 : 'dns', 80 : 'http', 110 : 'pop3', 143 : 'imap', 443 : 'https',
                  993 : 'imaps', 995 : 'pop3s'}

In [20]:
app['label'] = app['dstport'].map(event_dictionary)

/home/chuongdv/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
app.head(5)

,srcip,srcport,dstip,dstport,proto,total_fpackets,total_fvolume,total_bpackets,total_bvolume,min_fpktl,...,sflow_fbytes,sflow_bpackets,sflow_bbytes,fpsh_cnt,bpsh_cnt,furg_cnt,burg_cnt,total_fhlen,total_bhlen,label
0,150.193.38.178,32133,210.149.31.11,25,6,10,706,11,620,40,...,706,11,620,6,7,0,0,404,444,smtp
1,150.193.125.234,62465,172.194.224.18,443,6,101,6840,180,241986,40,...,6840,180,241986,17,15,0,0,5252,9368,https
2,182.243.200.203,12155,150.193.15.202,80,6,6,450,6,961,52,...,450,6,961,2,1,0,0,320,320,http
3,113.80.154.130,22066,203.141.118.229,80,6,5,328,6,687,52,...,328,6,687,1,1,0,0,268,320,http
4,202.75.123.30,41648,150.193.13.137,80,6,5,432,5,435,52,...,432,5,435,1,1,0,0,268,268,http

In [22]:
app.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21025 entries, 0 to 1247218
Data columns (total 45 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   srcip           21025 non-null  object
 1   srcport         21025 non-null  int64
 2   dstip           21025 non-null  object
 3   dstport         21025 non-null  int64
 4   proto           21025 non-null  int64
 5   total_fpackets  21025 non-null  int64
 6   total_fvolume   21025 non-null  int64
 7   total_bpackets  21025 non-null  int64
 8   total_bvolume   21025 non-null  int64
 9   min_fpktl       21025 non-null  int64
 10  mean_fpktl      21025 non-null  int64
 11  max_fpktl       21025 non-null  int64
 12  std_fpktl       21025 non-null  int64
 13  min_bpktl       21025 non-null  int64
 14  mean_bpktl      21025 non-null  int64
 15  max_bpktl       21025 non-null  int64
 16  std_bpktl       21025 non-null  int64
 17  min_fiat        21025 non-null  int64
 18  mean_fiat       21025 non-null  int64
 19  max_fiat        21025 non-null  int64
 20  std_fiat        21025 non-null  int64
 21  min_biat        21025 non-null  int64
 22  mean_biat       21025 non-null  int64
 23  max_biat        21025 non-null  int64
 24  std_biat        21025 non-null  int64
 25  duration        21025 non-null  int64
 26  min_active      21025 non-null  int64
 27  mean_active     21025 non-null  int64
 28  max_active      21025 non-null  int64
 29  std_active      21025 non-null  int64
 30  min_idle        21025 non-null  int64
 31  mean_idle       21025 non-null  int64
 32  max_idle        21025 non-null  int64
 33  std_idle        21025 non-null  int64
 34  sflow_fpackets  21025 non-null  int64
 35  sflow_fbytes    21025 non-null  int64
 36  sflow_bpackets  21025 non-null  int64
 37  sflow_bbytes    21025 non-null  int64
 38  fpsh_cnt        21025 non-null  int64
 39  bpsh_cnt        21025 non-null  int64
 40  furg_cnt        21025 non-null  int64
 41  burg_cnt        21025 non-null  int64
 42  total_fhlen     21025 non-null  int64
 43  total_bhlen     21025 non-null  int64
 44  label           21025 non-null  object
dtypes: int64(42), object(3)
memory usage: 7.4+ MB

In [23]:
app.to_csv('./data/trace1/trace1.csv', index = True)